{{define "gorest.service"}}
<html>
    <head></head>
    <body>
        <h1>{{.ServiceName}}</h1>
        <table>
            <tr>
                <th>Method</th>
                <th>Root</th>
                <th>Signature</th>
                <th>Params</th>
                <th>QueryParams</th>
                <th>SignitureLen</th>
                <th>ParamLen</th>
                <th>InputMime</th>
                <th>outputType</th>
                <th>outputTypeIsArray</th>
                <th>outputTypeIsMap</th>
                <th>postdataType</th>
                <th>postdataTypeIsArray</th>
                <th>postdataTypeIsMap</th>
                <th>isVariableLength</th>
                <th>parentTypeName</th>
                <th>methodNumberInParent</th>
                <th>role</th>
                <th>overrideProducesMime</th>
                <th>overrideConsumesMime</th>
                <th>allowGzip</th>
                <th>PostData</th>
                <th>OutputType</th>
                <th>Doc</th>
            </tr>
            {{range $end := .Endpoints}}
            <tr>
                <!-- <td>{{$end.Name}}</td>-- > <!-- Name of the function -->
                <td>{{$end.RequestMethod}}</td>
                <td>{{$end.Root}}</td>
                <td>{{$end.Signature}}</td>
                <td>{{$end.Params}}</td>
                <td>{{$end.QueryParams}}</td>
                <td>{{$end.SignitureLen}}</td>
                <td>{{$end.ParamLen}}</td>
                <td>{{$end.InputMime}}</td>
                <td>{{$end.OutputType}}</td>
                <td>{{$end.OutputTypeIsArray}}</td>
                <td>{{$end.OutputTypeIsMap}}</td>
                <td>{{$end.PostdataType}}</td>
                <td>{{$end.PostdataTypeIsArray}}</td>
                <td>{{$end.PostdataTypeIsMap}}</td>
                <td>{{$end.IsVariableLength}}</td>
                <td>{{$end.ParentTypeName}}</td>
                <td>{{$end.MethodNumberInParent}}</td>
                <td>{{$end.Role}}</td>
                <td>{{$end.OverrideProducesMime}}</td>
                <td>{{$end.OverrideConsumesMime}}</td>
                <td>{{$end.AllowGzip}}</td>
                <td>{{$end.PostData}}</td>
                <td>{{$end.Output}}</td>
                <td>{{$end.Doc}}</td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
{{end}}