{{define "gorest.index"}}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Index</h1>
        </div>
        <div class="container">
            <h4>General</h4>
            <ul>
                <li><a href="auths.html">Authorizers</a></li>
            </ul>
            <ul>
                <li><a href="datatypes.html">Data Types</a></li>
            </ul>
            <h4>Services</h4>
            <ul>
                {{range $serv := .Services}}
                <li>
                    <a href="service.{{$serv}}.html">{{$serv}}</a>
                </li>
                {{end}}
            </ul>
        </div>
    </body>
</html>
{{end}}